<div class="gorillascode-content gorillascode-change-password">
  <p>Escolha uma senha forte e não a use novamente em outras contas.</p>

  <br>

  <form name="managerForm" ng-submit="changePasswordCtrl.changePassword()">
    <md-input-container class="md-block">
      <label>Senha atual</label>
      <input type="password" ng-model="changePasswordCtrl.password" name="password" required
             maxlength="256" autofocus>

      <div ng-messages="managerForm.password.$error">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Nova senha</label>
      <input type="password" ng-model="changePasswordCtrl.newPassword" name="newPassword" required
             minlength="6" maxlength="256">

      <div ng-messages="managerForm.newPassword.$error">
        <div ng-message="required">Campo obrigatório</div>
        <div ng-message="minlength">A senha deve ter no mínimo 6 caracteres</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Confirmação da senha</label>
      <input type="password" ng-model="changePasswordCtrl.newPasswordConfirm"
             name="newPasswordConfirm" required maxlength="256"
             compare-to="changePasswordCtrl.newPassword">

      <div ng-messages="managerForm.newPasswordConfirm.$error">
        <div ng-message="required">Campo obrigatório</div>
        <div ng-message="compareTo">As senhas não conferem</div>
      </div>
    </md-input-container>

    <div layout="row">
      <span flex></span>
      <md-button ui-sref="protected.my-account">Cancelar</md-button>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="managerForm.$invalid">
        Alterar
      </md-button>
    </div>
  </form>
</div>