<div class="gorillascode-content">
  <form name="managerForm" ng-submit="templateEditCtrl.save()">
    <md-input-container class="md-block">
      <label>Nome do template</label>
      <input type="text" ng-model="templateEditCtrl.template.name" name="name" maxlength="256"
             required autofocus>

      <div ng-messages="managerForm.name.$error">
        <div ng-message="required">Campo obrigatório</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block tags">
      <label>Tags</label>

      <md-chips ng-model="templateEditCtrl.tags">
        <md-autocomplete md-search-text="searchText"
                         md-items="tag in templateEditCtrl.searchTemplateTag(searchText)"
                         md-item-text="tag"
                         placeholder="Adicione uma ou mais tags">
          <span md-highlight-text="searchText" md-highlight-flags="gi">{{tag}}</span>
        </md-autocomplete>
      </md-chips>
    </md-input-container>

    <div class="wysiwyg-editor">
      <textarea ng-model="templateEditCtrl.template.html_text"
                ui-tinymce="templateEditCtrl.tinymceOptions"></textarea>
    </div>

    <div layout="row">
      <md-button ng-show="templateEditCtrl.template.id"
                 ng-click="templateEditCtrl.delete($event)" class="md-warn md-raised">
        Excluir
      </md-button>

      <span flex></span>

      <md-button ui-sref="protected.template.list">Voltar</md-button>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="managerForm.$invalid">
        Salvar
      </md-button>
    </div>
  </form>
</div>