<div class="gorillascode-content gorillascode-content-no-background">
  <div class="filters">
    <form name="managerForm" ng-submit="productCategoryCtrl.changeFilters()">
      <div layout="column" layout-gt-xs="row">
        <div flex layout="row" layout-align="center center">
          <div hide show-gt-xs class="icon">
            <md-button class="md-icon-button" type="submit">
              <md-icon md-font-icon="material-icons" aria-label="Pesquisar">search</md-icon>
              <md-tooltip>Pesquisar</md-tooltip>
            </md-button>
          </div>

          <div flex>
            <md-input-container md-no-float class="md-block name">
              <label>Pesquise pela categoria</label>
              <input type="text" ng-model="productCategoryCtrl.filters.query" name="query"
                     maxlength="256">
            </md-input-container>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div ng-show="!productCategoryCtrl.loading && !productCategoryCtrl.productCategories.result.length">
    <div class="gorillascode-no-results">
      <p class="md-title">Nenhuma categoria</p>
    </div>
  </div>

  <div class="gorillascode-animate gorillascode-results-count"
       ng-show="productCategoryCtrl.productCategories.result.length">
    Exibindo
    <ng-pluralize count="productCategoryCtrl.productCategories.limit"
                  when="{'0': 'Nenhuma categoria', 'one': '1 categoria', 'other': '{{productCategoryCtrl.productCategories.limit | number}} categorias'}"></ng-pluralize>
  </div>

  <md-card ng-show="productCategoryCtrl.productCategories.result.length"
           class="gorillascode-animate product-categories">
    <md-table-container class="gorillascode-table-container">
      <table md-table>
        <thead md-head md-order="productCategoryCtrl.order"
               md-on-reorder="productCategoryCtrl.changeOrder">
        <tr md-row>
          <th md-column md-order-by="marketplace_code" class="marketplace-code">ID</th>
          <th md-column md-order-by="description" class="description">Descrição</th>
          <th md-column md-order-by="weight" class="weight">Peso</th>
          <th md-column class="dimension">Dimensão</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            ng-repeat="productCategory in productCategoryCtrl.productCategories.result track by productCategory.id"
            class="gorillascode-animate">
          <td md-cell class="marketplace-code">{{productCategory.marketplace_code}}</td>
          <td md-cell class="description">{{productCategory.description}}</td>
          <td md-cell class="weight">{{productCategory.weight | number}}</td>
          <td md-cell class="dimension">
            {{productCategory.length | number}}cm
            {{productCategory.width | number}}cm
            {{productCategory.height | number}}cm
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card>

  <gorillascode-pagination
          gorillascode-controller="productCategoryCtrl"></gorillascode-pagination>
</div>