<div class="gorillascode-login-logo" md-colors="{background: 'default-primary'}">
  <img src="/assets/images/logo_color-380x164.png" title="Logo">
</div>

<div class="gorillascode-content gorillascode-login">
  <md-toolbar>
    <div class="md-toolbar-tools" layout-align="center center">
      <div flex class="text-center">
        <h1>Recuperação de senha</h1>
      </div>
    </div>
  </md-toolbar>

  <form name="managerForm" ng-submit="passwordResetCtrl.reset()">
    <p>Informe a nova senha</p>
    <p>&nbsp;</p>

    <md-input-container class="md-block">
      <label>Senha</label>
      <input type="password" ng-model="passwordResetCtrl.password" name="password" required
             minlength="4" maxlength="256" autofocus>

      <div ng-messages="managerForm.password.$error">
        <div ng-message="required">Campo obrigatório</div>
        <div ng-message="minlength">A senha deve ter no mínimo 4 caracteres</div>
      </div>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Confirmação da senha</label>
      <input type="password" ng-model="passwordResetCtrl.confirmPassword" name="confirmPassword"
             required maxlength="256" compare-to="passwordResetCtrl.password">

      <div ng-messages="managerForm.confirmPassword.$error">
        <div ng-message="required">Campo obrigatório</div>
        <div ng-message="compareTo">As senhas não conferem</div>
      </div>
    </md-input-container>

    <div layout="row" layout-xs="column">
      <span flex></span>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="managerForm.$invalid">
        Alterar
      </md-button>
    </div>
  </form>
</div>