<md-dialog aria-label="Selecionar imagem" class="image-picker-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="imagePickerCtrl.close()" class="md-icon-button">
        <md-icon md-font-icon="material-icons" aria-label="Fechar">close</md-icon>
      </md-button>

      <h1>Selecionar imagem</h1>

      <div flex></div>

      <md-button ngf-select
                 ngf-allow-dir="true"
                 ngf-accept="'image/*'"
                 ngf-change="imagePickerCtrl.selectFiles($files)"
                 ngf-drag-over-class="{accept:'acceptClass', reject:'rejectClass'}"
                 ngf-fix-orientation="true"
                 ngf-multiple="true"
                 ngf-pattern="'image/*'">
        Fazer upload
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content flex class="md-dialog-content" gorillas-scroll-bottom-notifier
                     ngf-drop
                     ngf-allow-dir="true"
                     ngf-accept="'image/*'"
                     ngf-change="imagePickerCtrl.selectFiles($files)"
                     ngf-drag-over-class="{accept:'acceptClass', reject:'rejectClass'}"
                     ngf-fix-orientation="true"
                     ngf-multiple="true"
                     ngf-pattern="'image/*'">

    <div class="filters">
      <div flex layout="row" layout-align="center center" class="tags">
        <div hide show-gt-xs class="icon">
          <md-button ng-click="imagePickerCtrl.changeFilters()" class="md-icon-button">
            <md-icon md-font-icon="material-icons" aria-label="Pesquisar">search</md-icon>
            <md-tooltip>Pesquisar</md-tooltip>
          </md-button>
        </div>

        <div flex>
          <md-chips ng-model="imagePickerCtrl.filters.tag"
                    md-on-remove="imagePickerCtrl.changeFilters()"
                    md-on-select="imagePickerCtrl.changeFilters()">
            <md-autocomplete md-clear-button="true"
                             md-search-text="searchText"
                             md-items="tag in imagePickerCtrl.searchImageTag(searchText)"
                             md-item-text="tag"
                             md-autofocus
                             placeholder="Pesquise por tags ou nome do arquivo">
              <span md-highlight-text="searchText" md-highlight-flags="gi">{{tag}}</span>
            </md-autocomplete>
          </md-chips>
        </div>
      </div>
    </div>

    <md-card ng-show="imagePickerCtrl.selectedFiles.length" class="selected-files">
      <div ng-repeat="file in imagePickerCtrl.selectedFiles" class="gorillascode-animate">
        <div layout="row" layout-align="center center">
          <div>
            <div ngf-thumbnail="file" ngf-as-background="true" class="upload-thumbnail"></div>
          </div>

          <div flex class="info">
            <span ng-bind-html="file.image.url | linky:'_blank'"></span>
            <span ng-show="file.error">{{file.error}}</span>

            <md-progress-linear ng-show="file.uploadProgress > 0 && file.uploadProgress < 100"
                                md-mode="determinate"
                                value="{{file.uploadProgress}}"></md-progress-linear>
          </div>

          <div>
            <md-button ng-click="imagePickerCtrl.removeFileFromUpload($index)"
                       class="md-icon-button">
              <md-icon md-font-icon="material-icons" aria-label="Excluir">delete</md-icon>
              <md-tooltip>Excluir</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>

      <div layout="row">
        <div flex class="tags">
          <md-chips ng-model="imagePickerCtrl.selectedFilesTags">
            <md-autocomplete
                md-search-text="searchText"
                md-items="tag in imagePickerCtrl.searchImageTag(searchText)"
                md-item-text="tag"
                md-autofocus
                placeholder="Adicione uma ou mais tags">
              <span md-highlight-text="searchText">{{tag}}</span>
            </md-autocomplete>
          </md-chips>
        </div>
        <div>
          <md-button ng-click="imagePickerCtrl.startFilesUpload()" class="md-raised md-primary">
            Enviar
          </md-button>
        </div>
      </div>
    </md-card>

    <div ng-show="!imagePickerCtrl.loading && !imagePickerCtrl.images.result.length">
      <div class="gorillascode-no-results">
        <p class="md-title">Nenhuma imagem</p>
      </div>
    </div>

    <div class="images">
      <div ng-show="imagePickerCtrl.images.result.length">
        <div class="image-wrapper"
             ng-repeat="image in imagePickerCtrl.images.result track by image.id">
          <md-card class="image">
            <div ng-click="imagePickerCtrl.selectedImage(image)" class="image-file"
                 ng-style="{ backgroundImage: 'url(' + image.file.url + ')' }"
                 title="{{image.file.original_name}}"></div>

            <md-card-content>
              <div layout="row" class="tags-list">
                <div ng-show="image.tags.length" class="tags">
                  <span
                      ng-repeat="imageTag in image.tags | orderBy:'-created_at' track by imageTag.id"
                      ng-click="imagePickerCtrl.appendTagToFilters(imageTag.tag)" class="meuml-tag">
                    {{imageTag.tag}}
                  </span>
                </div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <gorillascode-pagination gorillascode-controller="imagePickerCtrl"></gorillascode-pagination>
  </md-dialog-content>
</md-dialog>